.main-page {
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
    padding: 1rem;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .main-page .div {
    background-color: #ffffff;
    overflow: hidden;
    width: 2621px;
    height: 2850px;
    position: relative;
  }
  
  .main-page .overlap {
    position: relative;
    width: 90%;
    max-width: 1055px;
    height: auto;
    margin: 2rem auto;
  }
  
  .main-page .group {
    position: absolute;
    width: 1055px;
    height: 982px;
    top: 0;
    left: 0;
  }
  
  .main-page .overlap-group {
    position: relative;
    width: 1053px;
    height: 982px;
  }
  
  .main-page .overlay {
    width: 1053px;
    height: 981px;
    top: 1px;
    background-color: #dee1e666;
    border-radius: 16px;
    position: absolute;
    left: 0;
    border: 0px none;
  }
  
  .main-page .overlay-2 {
    width: 1053px;
    height: 91px;
    top: 0;
    background-color: #dee1e6;
    border-radius: 16px 16px 0px 0px;
    position: absolute;
    left: 0;
    border: 0px none;
  }
  
  /* Font Sizes */
.text-wrapper {
  font-size: 4vw; /* Responsive font */
  line-height: 1.2;
}

  .main-page .text-wrapper {
    position: absolute;
    width: 311px;
    top: 7px;
    left: 23px;
    font-family: "Archivo-Bold", Helvetica;
    font-weight: 700;
    color: #171a1f;
    font-size: 64px;
    letter-spacing: 0;
    line-height: 84px;
  }
  
  .main-page .container {
    max-width: 392px;
    width: 90%;
    height: 357px;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 9px #171a1f1c, 0px 0px 2px #171a1f1f;
    position: relative;
    margin: 2rem auto;
    border: 0px none;
  }
  
  .main-page .text-wrapper-2 {
    position: absolute;
    top: 168px;
    left: 127px;
    font-family: "Archivo-Bold", Helvetica;
    font-weight: 700;
    color: #171a1f;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: 48px;
    white-space: nowrap;
  }
  
  .main-page .p {
    position: absolute;
    width: 344px;
    top: 222px;
    left: 24px;
    font-family: "Archivo-Regular", Helvetica;
    font-weight: 400;
    color: #171a1f;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: 26px;
  }
  
  .main-page .button {
    all: unset;
    box-sizing: border-box;
    width: 126px;
    height: 44px;
    top: 290px;
    left: 133px;
    background-color: #636ae8;
    border-radius: 6px;
    position: absolute;
    overflow: hidden;
    border: 1px solid;
    border-color: transparent;
  }
  
  .main-page .text-wrapper-3 {
    position: absolute;
    top: 8px;
    left: 18px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 26px;
    white-space: nowrap;
  }
  
  .main-page .e-remove-wrapper {
    position: absolute;
    width: 392px;
    height: 167px;
    top: 1px;
    left: 0;
    background-image: url(./img/image-36.png);
    background-size: 100% 100%;
  }
  
  .main-page .e-remove {
    position: relative;
    width: 32px;
    height: 32px;
    top: 15px;
    left: 344px;
  }
  
  .main-page .group-wrapper {
    position: relative;
    width: 18px;
    height: 18px;
    top: 7px;
    left: 7px;
  }
  
  .main-page .overlap-group-wrapper {
    height: 18px;
  }
  
  .main-page .img-wrapper {
    position: relative;
    width: 20px;
    height: 20px;
    top: -1px;
    left: -1px;
    background-image: url(./img/group-3.png);
    background-size: 100% 100%;
  }
  
  .main-page .img {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
  }
  
  .main-page .container-2 {
    top: 159px;
    left: 549px;
    position: absolute;
    width: 392px;
    height: 357px;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    border: 0px none;
    box-shadow: 0px 4px 9px #171a1f1c, 0px 0px 2px #171a1f1f;
  }
  
  .main-page .div-wrapper {
    position: absolute;
    width: 392px;
    height: 167px;
    top: 1px;
    left: 0;
    background-image: url(./img/image-36-2.png);
    background-size: 100% 100%;
  }
  
  .main-page .overlap-group-2 {
    position: relative;
    width: 20px;
    height: 20px;
    top: -1px;
    left: -1px;
    background-image: url(./img/group-8.png);
    background-size: 100% 100%;
  }
  
  .main-page .container-3 {
    top: 552px;
    left: 101px;
    position: absolute;
    width: 392px;
    height: 357px;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    border: 0px none;
    box-shadow: 0px 4px 9px #171a1f1c, 0px 0px 2px #171a1f1f;
  }
  
  .main-page .text-wrapper-4 {
    position: absolute;
    top: 167px;
    left: 127px;
    font-family: "Archivo-Bold", Helvetica;
    font-weight: 700;
    color: #171a1f;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: 48px;
    white-space: nowrap;
  }
  
  .main-page .text-wrapper-5 {
    position: absolute;
    width: 344px;
    top: 221px;
    left: 24px;
    font-family: "Archivo-Regular", Helvetica;
    font-weight: 400;
    color: #171a1f;
    font-size: 16px;
    text-align: center;
    letter-spacing: 0;
    line-height: 26px;
  }
  
  .main-page .button-2 {
    all: unset;
    box-sizing: border-box;
    position: absolute;
    width: 126px;
    height: 44px;
    top: 289px;
    left: 133px;
    background-color: #636ae8;
    border-radius: 6px;
    overflow: hidden;
    border: 1px solid;
    border-color: transparent;
  }
  
  .main-page .overlap-2 {
    position: absolute;
    width: 392px;
    height: 167px;
    top: 0;
    left: 0;
    background-image: url(./img/image-36-4.png);
    background-size: 100% 100%;
  }
  
  .main-page .e-remove-2 {
    position: relative;
    width: 32px;
    height: 32px;
    top: 16px;
    left: 344px;
  }
  
  .main-page .overlap-group-3 {
    position: relative;
    width: 20px;
    height: 20px;
    top: -1px;
    left: -1px;
    background-image: url(./img/group.png);
    background-size: 100% 100%;
  }
  
  .main-page .container-4 {
    top: 552px;
    left: 549px;
    position: absolute;
    width: 392px;
    height: 357px;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    border: 0px none;
    box-shadow: 0px 4px 9px #171a1f1c, 0px 0px 2px #171a1f1f;
  }
  
  .main-page .overlap-3 {
    position: absolute;
    width: 392px;
    height: 167px;
    top: 0;
    left: 0;
    background-image: url(./img/image-36-3.png);
    background-size: 100% 100%;
  }
  
  .main-page .overlap-group-4 {
    position: relative;
    width: 20px;
    height: 20px;
    top: -1px;
    left: -1px;
    background-image: url(./img/group-10.png);
    background-size: 100% 100%;
  }
  
  .main-page .overlap-4 {
    position: absolute;
    width: 1200px;
    height: 981px;
    top: 367px;
    left: 146px;
    background-color: #dee1e666;
    border-radius: 16px;
  }
  
  .main-page .overlap-5 {
    position: absolute;
    width: 1170px;
    height: 543px;
    top: 305px;
    left: 13px;
  }
  
  .main-page .god-has-given-us-a {
    position: absolute;
    width: 1107px;
    top: 15px;
    left: 46px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #171a1f;
    font-size: 32px;
    text-align: center;
    letter-spacing: 0;
    line-height: 48px;
  }
  
  .main-page .span {
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #171a1f;
    font-size: 32px;
    letter-spacing: 0;
    line-height: 48px;
  }
  
  .main-page .text-wrapper-6 {
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
  }
  
  .main-page .blockquote {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 0;
    left: 0;
  }
  
  .main-page .group-2 {
    position: relative;
    width: 56px;
    height: 41px;
    top: 15px;
    left: 7px;
    transform: rotate(180deg);
  }
  
  .main-page .group-3 {
    position: relative;
    height: 41px;
  }
  
  .main-page .group-4 {
    position: absolute;
    width: 24px;
    height: 41px;
    top: 0;
    left: 0;
    transform: rotate(-180deg);
  }
  
  .main-page .group-5 {
    position: absolute;
    width: 24px;
    height: 41px;
    top: 0;
    left: 31px;
    transform: rotate(-180deg);
  }
  
  .main-page .blockquote-2 {
    position: absolute;
    width: 70px;
    height: 70px;
    top: 463px;
    left: 1100px;
  }
  
  .main-page .group-6 {
    position: relative;
    width: 56px;
    height: 41px;
    top: 15px;
    left: 7px;
  }
  
  .main-page .group-7 {
    position: absolute;
    width: 24px;
    height: 41px;
    top: 0;
    left: 0;
  }
  
  .main-page .group-8 {
    position: absolute;
    width: 24px;
    height: 41px;
    top: 0;
    left: 31px;
  }
  
  .main-page .overlap-6 {
    position: absolute;
    width: 940px;
    height: 106px;
    top: 139px;
    left: 130px;
    border-radius: 16px;
  }
  
  .main-page .text-wrapper-7 {
    position: absolute;
    top: 10px;
    left: 27px;
    font-family: "Archivo-Bold", Helvetica;
    font-weight: 700;
    color: #171a1f;
    font-size: 64px;
    letter-spacing: 0;
    line-height: 84px;
    white-space: nowrap;
  }
  
  .main-page .overlay-3 {
    width: 940px;
    height: 106px;
    top: 0;
    background-color: #171a1f1c;
    border-radius: 16px;
    position: absolute;
    left: 0;
    border: 0px none;
  }
  
  .main-page .overlap-7 {
    position: absolute;
    width: 2621px;
    height: 94px;
    top: 0;
    left: 0;
  }
  
  .main-page .image-wrapper {
    width: 2621px;
    height: 94px;
    top: 0;
    left: 0;
    background-color: #4850e4;
    box-shadow: 0px 0px 1px #171a1f12, 0px 0px 2px #171a1f1f;
    position: absolute;
    border: 0px none;
  }
  
  .main-page .image {
    position: absolute;
    width: 177px;
    height: 3rem;
    margin-right: auto;
  }
  
  .main-page .header-menu {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    right: auto;
    height: auto;
    padding: 1rem;
  }
  
  .main-page .frame {
    position: absolute;
    width: 102px;
    height: 69px;
    top: 0;
    left: 94px;
  }
  
  .main-page .text-wrapper-8 {
    position: absolute;
    top: 16px;
    left: 13px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 36px;
    white-space: nowrap;
  }
  
  .main-page .frame-2 {
    width: 220px;
    left: 196px;
    position: absolute;
    height: 69px;
    top: 0;
  }
  
  .main-page .frame-3 {
    width: 94px;
    left: 0;
    position: absolute;
    height: 69px;
    top: 0;
  }
  
  .main-page .text-wrapper-9 {
    position: absolute;
    width: 857px;
    top: 152px;
    left: 167px;
    font-family: "Alexandria-Bold", Helvetica;
    font-weight: 700;
    color: #171a1f;
    font-size: 48px;
    letter-spacing: 0;
    line-height: 68px;
  }
  
  .main-page .learn-what-s {
    position: absolute;
    top: 220px;
    left: 167px;
    font-family: "Archivo-Bold", Helvetica;
    font-weight: 700;
    color: #9095a0;
    font-size: 32px;
    letter-spacing: 0;
    line-height: 48px;
    white-space: nowrap;
  }
  
  .main-page .container-5 {
    width: 2621px;
    height: 411px;
    top: auto;
    left: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 2rem;
    padding: 4rem 2rem;
    background-color: grey;
    border-radius: 6px;
    position: relative;
    border: 0px none;
  }
  
  .main-page .overlap-8 {
    position: absolute;
    width: 288px;
    height: 103px;
    top: 56px;
    left: 2278px;
  }
  
  .main-page .text-wrapper-10 {
    position: absolute;
    top: 34px;
    left: 0;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #424955;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 36px;
    white-space: nowrap;
  }
  
  .main-page .text-wrapper-11 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #6e7787;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 36px;
    white-space: nowrap;
  }
  
  .main-page .text-wrapper-12 {
    position: absolute;
    top: 67px;
    left: 0;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #424955;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 36px;
    white-space: nowrap;
  }
  
  .main-page .text-wrapper-13 {
    position: absolute;
    top: 243px;
    left: 2278px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #424955;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 36px;
    white-space: nowrap;
  }
  
  .main-page .text-wrapper-14 {
    position: absolute;
    top: 323px;
    left: 2278px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #424955;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 36px;
    white-space: nowrap;
  }
  
  .main-page .text-wrapper-15 {
    position: absolute;
    top: 203px;
    left: 2278px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #424955;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 36px;
    white-space: nowrap;
  }
  
  .main-page .text-wrapper-16 {
    position: absolute;
    top: 283px;
    left: 2278px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #424955;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 36px;
    white-space: nowrap;
  }
  
  .main-page .text-wrapper-17 {
    position: absolute;
    top: 163px;
    left: 2278px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #424955;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 36px;
    white-space: nowrap;
  }
  
  .main-page .overlap-9 {
    position: absolute;
    width: 220px;
    height: 104px;
    top: 255px;
    left: 1891px;
  }
  
  .main-page .text-wrapper-18 {
    position: absolute;
    top: 68px;
    left: 0;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #424955;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 36px;
    white-space: nowrap;
  }
  
  .main-page .overlap-10 {
    position: absolute;
    width: 204px;
    height: 137px;
    top: 56px;
    left: 1891px;
  }
  
  .main-page .text-wrapper-19 {
    position: absolute;
    top: 101px;
    left: 0;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #424955;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 36px;
    white-space: nowrap;
  }
  
  .main-page .overlap-11 {
    position: absolute;
    width: 146px;
    height: 201px;
    top: 119px;
    left: 368px;
  }
  
  .main-page .text-wrapper-20 {
    position: absolute;
    width: 146px;
    top: 0;
    left: 0;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #6e7787;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 36px;
  }
  
  .main-page .text-wrapper-21 {
    position: absolute;
    top: 165px;
    left: 0;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #424955;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 36px;
    white-space: nowrap;
  }
  
  .main-page .text-wrapper-22 {
    position: absolute;
    top: 132px;
    left: 0;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #424955;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 36px;
    white-space: nowrap;
  }
  
  .main-page .image-2 {
    position: absolute;
    width: 222px;
    height: 59px;
    top: 119px;
    left: 56px;
  }
  
  .main-page .text-wrapper-23 {
    position: absolute;
    width: 174px;
    top: 288px;
    left: 69px;
    font-family: "Poppins-Regular", Helvetica;
    font-weight: 400;
    color: #424955;
    font-size: 11px;
    letter-spacing: 0;
    line-height: 18px;
  }
  
  .main-page .overlap-12 {
    position: absolute;
    width: 2341px;
    height: 960px;
    top: 1413px;
    left: 146px;
    background-color: #d9d9d9;
    border-radius: 16px;
  }
  
  .main-page .overlay-4 {
    width: 2341px;
    height: 960px;
    top: 0;
    background-color: #171a1f99;
    border-radius: 16px;
    position: absolute;
    left: 0;
    border: 0px none;
  }
  
  .main-page .text-wrapper-24 {
    position: absolute;
    top: 247px;
    left: 130px;
    font-family: "Aoboshi One-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 64px;
    letter-spacing: 0;
    line-height: 84px;
    white-space: nowrap;
  }
  
  .main-page .text-wrapper-25 {
    position: absolute;
    width: 1106px;
    top: 346px;
    left: 130px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 32px;
    letter-spacing: 0;
    line-height: 48px;
  }
  
  .main-page .button-3 {
    width: 452px;
    height: 92px;
    top: 620px;
    left: 130px;
    background-color: #4850e4;
    border-radius: 16px;
    position: absolute;
    overflow: hidden;
    border: 1px solid;
    border-color: transparent;
  }
  
  .main-page .text-wrapper-26 {
    position: absolute;
    top: 21px;
    left: 53px;
    font-family: "Inter-Regular", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 32px;
    letter-spacing: 0;
    line-height: 48px;
    white-space: nowrap;
  }
  
  @media (min-width: 768px) {
    .text-wrapper {
      font-size: 2.5rem; /* Fixed size on larger screens */
    }
  }
